*
{
    padding: auto;
    margin: auto;
}
body{
    background-color:rgba(54,53,67,255);
    
}
#main{
    width: 90%;
    margin-top: 50.5px;
    height: 144px
   
    ;
}
nav
{
    height: 40px;
    text-align: center;
    background-color: gray;   
    font-size: 20px;
    

}
    
#bataq{
        width: 30px;
        margin-left: 50px;
    }

	
.sec2{
    background-color: rgba(54,53,67,255);
   text-align: left;
    width: 33.33%;
    height: 50ch;
    float: left;
	color: white;
    
    
}

#hash{
    width: 1530px;
    margin-top: 10 px;
    background-color: rgba(54,53,67,255);
}
#img1
{
    border: 3px solid black;
    margin-left: 20%;
    margin-top: 2%;

}
#sec3
{
    background-color: rgb(53, 54, 54);
    
    width: 100%;
    height: 10px;
    text-align: center;
	
}



.aplha{
    width: 33%  ;
    color: white;
  
  
}

#sec1
{
	width: 100%;
	height: 40%;
    
   
}
#icon1{
   float: left;
   height: 50px;
   width: 120px;
   color: white; 
    background-color: rgba(55,54,70,255);
   margin-left: 72px; 
   align-items: center; display: flex; justify-content: space-between;
}
#icon2{
    float: left;
    height: 50px;
    width: 120px;
    background-color:  rgba(55,54,70,255);
    margin-left: 95px;  
 }
#icon3{
    float: left;
    background-color:rgba(55,54,70,255);
    height: 50px;
    width: 167px;
    margin-left: 110px;
    align-items: center; display: flex; justify-content: space-between;
    color: white;
 }
#icon4{
    float: left;
    height: 50px;
    width: 120px;
    margin-left: 101px;
    background-color:rgba(55,54,70,255);
    align-items: center; display: flex; justify-content: space-between;
    color: white;
    
 }
 .box{
    text-align: center;
    box-shadow: 0px 0PX 6PX 1PX;
    
    width: 1019PX;
    height:70px;
    padding-top: 10px;
    background-color:  rgba(62,61,77,255);
 }
#i1
{
	width:100%;
}
#i2
{
	background-color:rgba(40,40,52,255);
    color: white;
	
	width:100%;
	text-align: center;
    height: 40px;
    padding-top: 10px;
}

#i3
{
	background-color: rgba(40,40,52,255);
	height:577px; 
	width:50%; 
	float:left;
	padding-top: 30px;
	font-size: 18px;
}
#i4
{
	background-color:rgba(40,40,52,255);
	height:605px; 
	width:50%; 
	float:left;
}
#images {
    border:none;
    padding:0px;
    margin:20px;
    height:80px;
    width:150px;
    margin-top: 30px;
    text-align:center;
}

.cover{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
}
.box1{
    margin: -35px;
    margin-left: -525px;
    width: 324px;
    height: 221px;
    background-color: rgba(63,62,78,255);
    text-align: center;
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
  
}
.box2{
    margin: -35px;
    width: 324px;
    height: 221px;
    background-color: rgba(63,62,78,255);
    justify-content: center;
    text-align: center;
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
    margin-left: 70px;
  
}
.box3{
    margin: 20px;
    width: 324px;
    height: 221px;
    background-color: rgba(63,62,78,255);
    justify-content: center;
    text-align: center;
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
    margin-left: 70px;
   
}



.CIRCLE {
    background-color: #2b2b37;
    background-color: #2b2b37;
    border-radius: 67%;
    display: flex;
    HEIGHT: 497PX;
    MARGIN: 23PX;
    margin-block: -40px;
    margin-top: -80px;
   
    margin-left: 56px;
    margin-right: 9p

 
}
